@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');

body {
  margin: 0;
  font-family: 'Noto Sans JP',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--chakra-colors-gray-100)!important; /* FIXME: */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
